.d{
color:#3d3d29;
}

.navbar{
background-color:#ffa31a;
color:white;
text-decoration:none;
height:70px;
}

a.brand{
color:white;
text-decoration:none;
}

.wrapper{
margin-top:100px;
text-align:center;
color:#3d3d29;
}
.para1{
margin-left:550px;
margin-top:20px;
float:left;
}

.para2{
margin-top:30px;
margin-left:0px;
}